




.snip1250 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1250 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1250 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.2em;
  overflow: hidden;
}
.snip1250 a {
  padding: 0 0.2em 0 0.5em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display:;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.snip1250 a:before,
.snip1250 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1250 a:before {
  left: 100%;
  display: block;
  width: 3px;
  height: 100%;
  content: "";
  background-color: #f39c12;
}
.snip1250 a:after {
  padding: 0 0.2em 0 0.5em;
  position: absolute;
  left: 100%;
  top: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.snip1250 li:hover a,
.snip1250 .current a {
  transform: translateX(-100%);
}
body {
  background-color: #212121;
  padding: 50px 0px;
}
body{
    background-color: grey;
}

div flexbox{
    display: -webkit-flex;
    display;flex;
    text-align: right;
    
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
#bob{
    display: flex;
    justify-content: center;
}
figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 1% 10px;;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  background-color: #000000;
    
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
    
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip1477
body {
  background-color: #212121;
}

h1 h2 h3{
    text-align: center;
    margin: 5%;
    font-family: 'Raleway', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color: lightgray;
}
p{
    font-family: 'quicksand', sans-serif;
    font-family: 'raleway', sans-serif;
    margin:%;
    color: lightgray;
}
img{
    display: inline;
    margin: 0%;
    text-align: center;
    
}

.blænde{
   margin: 30px;
    text-decoration-color: white;
}

.historie p{
    text-align: justify;
    margin: 5%;
     -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    margin: 30px;
    padding: 30px 30px;
    font-family: 'Lato', sans-serif;
    text-decoration-color: white;
}

.polaroid p{
    text-align: justify;
    margin: 5%;
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    margin: 30px;
    padding: 30px 30px;
    font-family: 'Lato', sans-serif; 
    text-decoration-color: white;
}

.blændeværdi p{
     text-align: justify;
    margin: 5%;
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    margin: 30px;
    padding: 30px 30px;
    font-family: 'Lato', sans-serif; 
    color: lightgray;
}


.ISO p{
    align-content: left;
     text-align: justify;
    margin: 5%;
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    margin: 50px;
    padding: 30px 30px;
    font-family: 'Lato', sans-serif;  
    color: lightgrey;
}

.lukkertid p{
     text-align: justify;
    margin: 5%;
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    margin: 30px;
    padding: 30px 30px;
    font-family: 'Lato', sans-serif; 
   color: lightgrey;
}
*{
 text-align: center;
    color: lightgray;       
}

input[type=text] {
    
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: right;
    align-content: right;
    justify-content: right;
}

.footer {
    background-color:;
    padding: 1px;
    text-align: left;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    order: 4;
}

.logoer {
    display: flex;
    justify-content: center;
}